{% extends 'base.html.twig' %}

{% block title %}Hello UsuarioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Perfil ✅</h1>
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <b>Email:</b>
                <p>{{ app.user.email }}</p>
            </div>
            <div class="col">
                <b>Telf:</b>
                <p>{{ app.user.phone }}</p>
            </div>

        </div>
        {% if app.user.colaborador %}
            <div class="row">

                <div class="col">
                    <b>Cédula:</b>
                    <p>{{ app.user.colaborador.cedula }}</p>
                </div>
                <div class="col">
                    <b>Nombres:</b>
                    <p>{{ app.user.colaborador.nombres }}</p>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <b>Dirección:</b>
                    <p>{{ app.user.colaborador.direccion }}</p>
                </div>
                <div class="col">
                    <b>Cargo:</b>
                    <p>{{ app.user.colaborador.cargo }}</p>
                </div>

            </div>
        {% endif %}

    </div>
</div>
{% endblock %}
