{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}


    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>ROLES</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for u in usuarios %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.phone }}</td>
                <td>{{ u.roles | join('|') }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': u.id}) }}">ROLES</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Create new</a>
{% endblock %}
