{% extends 'base.html.twig' %}

{% block title %}Archivo de pagos{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        <h3 class="mt-3 mb-3">Subir archivo de pagos en línea</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    {{ form_row(form.archivo, { attr: {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-end">
                <button class="btn btn-success">Subir</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    <div class="container mt-5 mb-5">
        {% if resumen %}
            <table class="table table-bordered">
                <th>Cod.</th>
                <th>#Comprobante</th>
                <th>Contrato</th>
                <th>Mensaje</th>
                <tbody>
                {% for resultado in resumen %}
                    <tr
                            {% if resultado.status != 200 %}
                                class ="bg-danger text-light"
                            {% endif %}
                    >
                        <td>{{ resultado.status }}</td>
                        <td>{{ resultado.comprobante }}</td>
                        <td>{{ resultado.contrato }}</td>
                        <td>{{ resultado.mensaje }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>
{% endblock %}
