<div class="row mb-3 justify-content-center">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="{{ asset('images/LogoLetras.svg') }}" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-6 align-self-center">
        <h3 style="text-align: center">Solicitud de Servicio</h3>
        <h6 style="text-align: center">Dirección: Sucre y Abdón Calderón, Atuntaqui</h6>
        <h6 style="text-align: center">Telf1: 0981172796&emsp;Telf2:0988231434</h6>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-md-3">
        <div class="row justify-content-end">
            <div class="col-md-6 d-sm-none d-md-block">
                <img src="{{ asset('images/LogoCompleto.svg') }}" alt="">
            </div>
        </div>
    </div>
</div>



{{ form_start(form) }}
<div class="row mb-3">

    <div class="col-md-4">
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Número</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.numero,{ 'attr': {'class':'form-control', 'style':'color: red; font-weight: 700; font-size: 2rem !important; line-height: 3rem; height: 3rem !important', 'onkeydown':  'if(event.keyCode==8 || event.keyCode == 46) return true; return /[0-9]/i.test(event.key)'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <label class="col-4 col-form-label">Fecha</label>
            <div class="col-8">
                <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                    <span class="input-group-addon input-group-prepend border-right">
                        <span class="icon-calendar input-group-text calendar-icon"></span>
                    </span>
                    {{ form_widget(form.fecha, {'attr': {}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col d-flex justify-content-end">
                <button type="submit" id="btn-send" class="btn btn-success">
                    <i class="icon-file-add"></i>
                    <span class="m-1">{{ button_label|default('Guardar') }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header bg-primary" id="headingOne">
            <h5 class="mb-0">
                <a class="btn btn-link text-white" {# data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"#}>
                    Datos del cliente
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {{ include('cliente/_form.html.twig', {'form': form.cliente, 'submit': 'NO'}) }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary" id="headingTwo">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed text-white" {#data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"#}>
                    Datos de instalación
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Plan</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.plan,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">NAP</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.nap,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Nodo</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.nodo,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Valor $:</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.valorSuscripcion,{ 'attr': {'class':'form-control' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">PPPOE:</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.pppoe,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Vlan</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.vlan,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Puerto</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.puerto,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Sector</span>
                            </label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="sitio" readonly
                                        {% if contrato.parroquia %}
                                            value="{{ contrato.parroquia.canton.provincia }}, {{ contrato.parroquia.canton }}, {{ contrato.parroquia }}"
                                        {% else %}
                                            value=""
                                        {% endif %}
                                >
                            </div>
                            <div class="d-none">
                                {{ form_widget(form.parroquia,{ 'attr': {'class':'form-control','readonly':'readonly'}}) }}
                            </div>
                            <div class="col-2">
                                {{ include('modals/buscarParroquia.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-2">
                                <span class="float-right">Dirección</span>
                            </label>
                            <div class="col-10">
                                {{ form_widget(form.direccion,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Vendedor</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.vendedor,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row justify-content-end">
                            <label for="" class="col-form-label col-4">
                                <span class="float-right">Instalador</span>
                            </label>
                            <div class="col-8">
                                {{ form_widget(form.instalador,{ 'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary" id="headingThree">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed text-light" {# data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"#}>
                    Equipos y materiales
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {{ include('modals/buscarEquipo.html.twig', {'table_id': 'tEquiposInstalacion'}) }}
                    </div>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="3">
                                Nombre
                            </th>
                            <th colspan="2">
                                Codigo
                            </th>
                            <th colspan="2">
                                Serie
                            </th>
                            <th colspan="1">
                                Cantidad
                            </th>
                            <th colspan="1">

                            </th>
                        </tr>
                        </thead>
                        <tbody id="tEquiposInstalacion">
                        {% for e in contrato.equipos%}
                            <tr>
                                <td colspan="3">{{e.equipo.nombre}}</td>
                                <td colspan="2">{{e.equipo.codigo}}</td>
                                <td colspan="2"><input type="text"  class="form-control form-group-sm" onchange="establecerSerial(this, {{e.equipo.id}})" {% if not e.equipo.esSeriado %}disabled{% else %} value="{{ e.serie }}"{% endif%} required></td>
                                <td colspan="1"><input type="number" min="1" value="{{ e.cantidad }}" class="form-control form-group-sm" onchange="establecerCantidad(this, {{e.equipo.id}})"/></td>
                                <td colspan="1"><button type="button" class="btn btn-sm btn-danger btn-eliminar" data-id={{e.equipo.id}} >Quitar</button></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    {{ form_widget(form.equiposjson)}}
                    {{ form_widget(form)}}
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
