{% extends 'base.html.twig' %}

{% block title %}SAN index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3 class="m-2">Contratos</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-sm btn-warning" href="{{ path('contrato_corte') }}">
                Generar Corte
            </a>
            <a class="btn btn-sm btn-info" href="{{ path('contrato_inpagos') }}">
                Marcar Inpagos
            </a>
            <a href="{{ path('contrato_new') }}" class="btn btn-primary btn-sm">
                <strong><b>+</b></strong>Nuevo
            </a>
        </div>
    </div>


    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrato in contratos %}
            <tr {% if contrato.estadoActual %} class="table-{{ contrato.estadoActual.estado.cssClass }}" {% endif %}>
                <td>{{ contrato.id }}</td>
                <td>{{ contrato.numero }}</td>
                <td>{{ contrato.fecha ? contrato.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ contrato.cliente.nombres }}</td>
                <td>{{ contrato.cliente.direccion }} </td>
                <td>
                    {% if contrato.estadoActual %}
                        {{ contrato.estadoActual.estado.texto }}
                    {% else %}
                        {{ contrato.estado }}
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-success"  href="{{ path('contrato_activar', {'id': contrato.id}) }}">
                        Activar
                    </a>
                    <a class="btn btn-sm btn-warning" href="{{ path('contrato_edit', {'id': contrato.id}) }}">
                        Editar
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
