<div class="row justify-content-center">
    <div class="col-md-10">
        {{ form_start(form) }}
        <div class="row">
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Tipo DNI</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.dni.tipo,{'attr':{'class':'form-control  mt-2'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Dni</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.dni.numero,{'attr':{'class':'form-control mt-2'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Nombres</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.nombres,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Fecha Nac.</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.fechaNacimiento) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Genero</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.genero,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Estado Civil</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.estadoCivil,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Nacionalidad</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.nacionalidad,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Dirección</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.direccion,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Email</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end col">

            </div>
        </div>
        <div class="row">
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Teléfono Fijo</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.telefonoFijo,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Teléfono</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.telefono,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Tercera Edad</span>
                </label>
                <div class="col-8 align-self-center">
                    {{ form_widget(form.esTerceraEdad, {'attr':{'class': ' float-left'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end col">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Discapacitado</span>
                </label>
                <div class="col-8 align-self-center">
                    {{ form_widget(form.esDiscapacitado, {'attr':{'class': ' float-left'}}) }}
                </div>
            </div>
        </div>
        {% if submit is defined and submit !='NO' %}
        <div class="form-group row justify-content-center">
            <div class="col-4">
                <button class="btn btn-info btn-block">{{ button_label|default('Guardar') }}</button>
            </div>
        </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
</div>


        {#
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Huella Dactilar</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.fingerprint,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        #}

        {#
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Residencia</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.residencia,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        #}



        {#
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Fecha de Expedición</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.dni.fecha_exp,{'attr':{'class':''}}) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Foto Frontal</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.dni.foto_frontal,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Foto Posterior</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.dni.foto_posterior,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Otro</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.otro,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        #}