

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item nav-category">Administrador</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-settings"></i>
                <span class="menu-title">Configuración</span>
                <!--i class="mdi mdi-settings"></i-->
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_empresa_edit',{id: app.user.empresa.id}) }}">Empresa</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('usuario_list') }}">Usuarios</a></li>
                </ul>
            </div>
        </li>
        {% endif %}
        {% if is_granted('ROLE_OPERADOR') %}
        <li class="nav-item nav-category">Negocio</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#facturacion" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Facturación</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="facturacion">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('factura_index') }}">Lista de Facturas</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('factura_new') }}">Nueva Factura</a></li>
                </ul>
            </div>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#contratos" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-file-document"></i>
                <span class="menu-title">Contratos</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="contratos">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('contrato_index') }}">Ver Contratos</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('contrato_new') }}">Nuevo Contrato</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#clientes" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-human"></i>
                <span class="menu-title">Clientes</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="clientes">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('cliente_new') }}">Nuevo Cliente</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('cliente_index') }}">Lista de Clientes</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#servicios" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-room-service"></i>
                <span class="menu-title">Servicios</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="servicios">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('servicio_index') }}">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('servicio_new') }}">Nuevo Servicio</a></li>
                </ul>
            </div>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#cuentas" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-wallet"></i>
                <span class="menu-title">Cuentas por cobrar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="cuentas">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_cuenta_por_cobrar_index') }}">Listado de Cuentas</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_cuenta_por_cobrar_new') }}">Nueva Cuenta</a></li>
                </ul>
            </div>

        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#adicional" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi mdi-bookmark-plus"></i>
                <span class="menu-title">Adicional</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="adicional">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('equipo_index') }}">Equipos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('equipo_new') }}">Nuevo Equipo</a></li>
                </ul>
            </div>

        </li>
        {% endif %}
        {% if is_granted('ROLE_TECNICO') %}
        <li class="nav-item nav-category">Técnicos</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ordenes-tecnicos" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi mdi mdi-worker"></i>
                <span class="menu-title">Órdenes(Tickets)</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ordenes-tecnicos">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('orden_index') }}">Órdenes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('orden_new') }}">Nueva Orden</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('tipo_orden_index') }}">Tipos de orden</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('estado_orden_index') }}">Estados de orden</a></li>
                </ul>
            </div>

        </li>
        {% endif %}
    </ul>
</nav>