{% extends 'base.html.twig' %}

{% block title %}CxC{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3 class="m-2">Cuentas por cobrar</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-sm btn-success" href="{{ path('contrato_activacion') }}">
                Generar Activación
            </a>
            <a class="btn btn-sm btn-warning" href="{{ path('contrato_corte') }}">
                Generar Corte
            </a>

            <a href="{{ path('contrato_new') }}" class="btn btn-primary btn-sm">
                <strong><b>+</b></strong>Nuevo
            </a>
        </div>
    </div>


    <cuentas listado="{{ cuentas|json_encode }}"></cuentas>

{% endblock %}
{% block javascript %}

{{ encore_entry_script_tags('app') }}
{% endblock %}
