{% extends 'base.html.twig' %}

{% block title %}TipoComprobante index{% endblock %}

{% block body %}
    <h1>TipoComprobante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_comprobante in tipo_comprobantes %}
            <tr>
                <td>{{ tipo_comprobante.id }}</td>
                <td>{{ tipo_comprobante.nombre }}</td>
                <td>{{ tipo_comprobante.codigo }}</td>
                <td>
                    <a href="{{ path('tipo_comprobante_show', {'id': tipo_comprobante.id}) }}">show</a>
                    <a href="{{ path('tipo_comprobante_edit', {'id': tipo_comprobante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_comprobante_new') }}">Create new</a>
{% endblock %}
