{% extends 'base.html.twig' %}

{% block title %}TipoOrden{% endblock %}

{% block body %}
    <h1>TipoOrden</h1>

    <table class="table table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_orden.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_orden.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ tipo_orden.codigo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_orden_index') }}">back to list</a>

    <a href="{{ path('tipo_orden_edit', {'id': tipo_orden.id}) }}">edit</a>

    {{ include('tipo_orden/_delete_form.html.twig') }}
{% endblock %}
