{% extends 'base.html.twig' %}

{% block title %}Plan{% endblock %}

{% block body %}
    <h1>Plan</h1>

    <table class="table table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ plan.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plan_index') }}">back to list</a>

    <a href="{{ path('plan_edit', {'id': plan.id}) }}">edit</a>

    {{ include('plan/_delete_form.html.twig') }}
{% endblock %}
