{% extends 'base.html.twig' %}

{% block title %}New SAN{% endblock %}

{% block body %}
    <h1>Aprobar Solicitud</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{ form_start(form) }}
            <div class="form-group row justify-content-end">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Número de SAN</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.numero,{ 'attr': {'class':'form-control'}}) }}
                </div>
            </div>


            <div class="form-group row justify-content-end">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Sitio</span>
                </label>
                <div class="col-6">
                    <input type="text" class="form-control" id="sitio" readonly
                            {% if s_a_n.parroquia %}
                                value="{{ s_a_n.parroquia.canton.provincia }}, {{ s_a_n.parroquia.canton }}, {{ s_a_n.parroquia }}"
                            {% else %}
                                value=""
                            {% endif %}
                    >
                </div>
                <div class="d-none">
                    {{ form_widget(form.parroquia,{ 'attr': {'class':'form-control','readonly':'readonly'}}) }}
                </div>
                <div class="col-2">
                    {{ include('modals/buscarParroquia.html.twig',{'controlName':'san_parroquia'}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Dirección</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.direccion,{ 'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Valor Susccripción</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.valorSuscripcion,{ 'attr': {'class':'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Captura Equifax</span>
                </label>
                <div class="col-8">
                    {{ form_widget(form.capturaEquifax,{ 'attr': {'class':'form-control', 'accept':'.pdf,.jpg,.png,.jpeg'}}) }}
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <div class="col-4">
                    <button class="btn btn-info btn-block">{{ button_label|default('Guardar') }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>


    <a href="{{ path('s_a_n_index') }}">back to list</a>
{% endblock %}
