{% extends 'base.html.twig' %}

{% block title %}Solicitud index{% endblock %}

{% block body %}
    <h1>Solicitud index</h1>
    <br>
    <a href="{{ path('solicitud_new') }}" class="btn btn-success">Crear Nueva Solicitud</a>
    <br>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vendedor</th>
                <th>Cliente</th>
                <th>SAN</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Pago</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud in solicituds %}
            <tr>
                <td>{{ solicitud.id }}</td>
                <td>{{ solicitud.vendedor }}</td>
                <td>{{ solicitud.cliente }}</td>
                <td>{{ solicitud.san }}</td>
                <td>{{ solicitud.fecha ? solicitud.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ solicitud.estado }}</td>
                <td>
                    {% if solicitud.pago %}
                        <p>
                            PAGADA
                        </p>
                    {% else %}
                        <p>
                            SIN PAGO
                        </p>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('solicitud_show', {'id': solicitud.id}) }}" class="btn btn-primary btn-sm" title="MOSTRAR">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('solicitud_edit', {'id': solicitud.id}) }}" class="btn btn-warning btn-sm" title="EDITAR">
                        <i class="fa fa-pencil"></i>
                    </a>
                    {% if  is_granted('ROLE_ADMIN') and solicitud.estado == 'PENDIENTE' %}
                        <p>
                            <a href="{{ path('solicitud_aprobar', {'id': solicitud.id}) }}" class="btn btn-success btn-sm" title="APROBAR">
                                <i class="fa fa-check"></i>
                            </a>
                            <button class="btn btn-danger btn-sm" title="RECHAZAR" onclick="rechazar({{ solicitud.id }})">
                                <i class="fa fa-times"></i>
                            </button>
                        </p>
                    {% endif %}
                    {% if solicitud.estado == 'APROBADA' and not solicitud.pago %}
                        <p>
                            <a href="{{ path('solicitud_pagar', {'id': solicitud.id}) }}" class="btn btn-success btn-sm" title="PAGAR">
                                <i class="fa fa-dollar"></i>
                            </a>
                        </p>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    <script>
        function rechazar(id){

            var response = confirm('Estás seguro de rechazar esta solicitud ?');
            if(response){
                var url = '/solicitud/rechazar/'+id;
                location.href = url;
            }
        }
    </script>
{% endblock %}