{% extends 'base.html.twig' %}

{% block title %}Solicitud{% endblock %}

{% block body %}
    <h1>Solicitud</h1>

    <div class="container">
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    Nro de Solicitud:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">{{ solicitud.id }}</div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    Fecha:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">{{ solicitud.fecha ? solicitud.fecha|date('Y-m-d') : '' }}</div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    Cliente:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">{{ solicitud.cliente.nombres }}</div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    Cedula Cliente:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">{{ solicitud.cliente.dni.numero }}</div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    Estado:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">
                {{ solicitud.estado }}
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    Vendedor:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">
                {{ solicitud.vendedor }}
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    Plan:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">
                {{ solicitud.plan }}
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-lg-3">
                <p class="float-right">
                    SAN:
                </p>
            </div>
            <div class="col col-md-4 col-lg-3">
                {{ solicitud.san }}
            </div>
        </div>
        {% if solicitud.pago %}
            <div class="row">
                <div class="col col-md-4 col-lg-3">
                    <p class="float-right">
                        Valor Pagado:
                    </p>
                </div>
                <div class="col col-md-4 col-lg-3">
                    {{ solicitud.pago.valor }}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 col-lg-3">
                    <p class="float-right">
                        Cuenta Bancaria:
                    </p>
                </div>
                <div class="col col-md-4 col-lg-3">
                    {{ solicitud.pago.ctaBancaria }}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 col-lg-3">
                    <p class="float-right">
                        Nro de Documento:
                    </p>
                </div>
                <div class="col col-md-4 col-lg-3">
                    {{ solicitud.pago.nroDocumento }}
                </div>
            </div>
        {% else %}
            <p><b>PENDIENTE DE PAGO</b></p>
        {% endif %}
        <div class="row">
            <div class="col">
                <a class="btn btn-success" href="{{ path('solicitud_index') }}">Regresar a solicitudes</a>
            </div>
        </div>
    </div>



{% endblock %}
