{% extends 'base.html.twig' %}

{% block title %}NoSeriado{% endblock %}

{% block body %}
    <h1>NoSeriado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ no_seriado.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ no_seriado.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('no_seriado_index') }}">back to list</a>

    <a href="{{ path('no_seriado_edit', {'id': no_seriado.id}) }}">edit</a>

    {{ include('no_seriado/_delete_form.html.twig') }}
{% endblock %}
