{% extends 'base.html.twig' %}

{% block title %}Pago{% endblock %}

{% block body %}
    <h1>Pago</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pago.id }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ pago.valor }}</td>
            </tr>
            <tr>
                <th>NroDocumento</th>
                <td>{{ pago.nroDocumento }}</td>
            </tr>
            <tr>
                <th>Comprobante</th>
                <td>{{ pago.comprobante }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pago_index') }}">back to list</a>

    <a href="{{ path('pago_edit', {'id': pago.id}) }}">edit</a>

    {{ include('pago/_delete_form.html.twig') }}
{% endblock %}
