{% extends 'base.html.twig' %}

{% block title %}Catalogo{% endblock %}

{% block body %}
    <h1>Catalogo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catalogo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ catalogo.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ catalogo.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ catalogo.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('catalogo_index') }}">back to list</a>

    <a href="{{ path('catalogo_edit', {'id': catalogo.id}) }}">edit</a>

    {{ include('catalogo/_delete_form.html.twig') }}
{% endblock %}
