{% extends 'base.html.twig' %}

{% block title %}Configuracion{% endblock %}

{% block body %}
    <h1>Configuracion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configuracion.id }}</td>
            </tr>
            <tr>
                <th>NombreConfiguracion</th>
                <td>{{ configuracion.nombreConfiguracion }}</td>
            </tr>
            <tr>
                <th>RazonSocial</th>
                <td>{{ configuracion.razonSocial }}</td>
            </tr>
            <tr>
                <th>NombreComercial</th>
                <td>{{ configuracion.nombreComercial }}</td>
            </tr>
            <tr>
                <th>Ruc</th>
                <td>{{ configuracion.ruc }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ configuracion.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ configuracion.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ configuracion.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_configuracion_index') }}">back to list</a>

    <a href="{{ path('app_configuracion_edit', {'id': configuracion.id}) }}">edit</a>

    {{ include('configuracion/_delete_form.html.twig') }}
{% endblock %}
