{% extends 'base.html.twig' %}

{% block title %}Mensajes de whatsapp{% endblock %}

{% block body %}
    <h1>Mensajes de whatsapp</h1>

    <table class="table table-bordered table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Pic</th>
            <th>Contacto</th>
            <th>Mensaje</th>
            <th>Direccion</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for msj in mensajes %}
            <tr
                {% if msj.dir=='i' %}
                    class="table-info"
                {% endif %}
                {% if msj.dir=='o' %}
                    class="table-success"
                {% endif %}
            >
                <td>{{ msj.id }}</td>
                <td>
                    <img src="{{ msj.contact.pic }}" alt="" style="max-width: 50px">
                </td>
                <td  style="max-width: 250px; word-wrap: break-word; white-space: pre-wrap" title="{{ msj.contact }} ">{{ msj.contact }} </td>
                <td>{{ msj.body }}</td>
                <td>
                    {% if msj.dir=='i' %}
                        <b>ENTRANTE</b>
                    {% endif %}
                    {% if msj.dir=='o' %}
                        <b>SALIENTE</b>
                    {% endif %}
                </td>
                <td>
                    {% if msj.dir=='i' %}
                        {{ include('modals/responderWhatsapp.html.twig',{'to':msj.contact.uid}) }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
