{% extends 'base.html.twig' %}

{% block title %}TipoEquipo{% endblock %}

{% block body %}
    <h1>TipoEquipo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_equipo.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ tipo_equipo.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_equipo.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_equipo_index') }}">back to list</a>

    <a href="{{ path('tipo_equipo_edit', {'id': tipo_equipo.id}) }}">edit</a>

    {{ include('tipo_equipo/_delete_form.html.twig') }}
{% endblock %}
