{% extends 'base.html.twig' %}

{% block title %}ServicioClaro index{% endblock %}

{% block body %}
    <h1>ServicioClaro index</h1>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio_claro in servicio_claros %}
            <tr>
                <td>{{ servicio_claro.id }}</td>
                <td>{{ servicio_claro.nombre }}</td>
                <td>
                    <a href="{{ path('servicio_claro_show', {'id': servicio_claro.id}) }}">show</a>
                    <a href="{{ path('servicio_claro_edit', {'id': servicio_claro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('servicio_claro_new') }}">Create new</a>
{% endblock %}
