<div class="row justify-content-center">
    <div class="col-md-8">
        {{ form_start(form) }}
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Contrato</span>
            </label>
            <div class="col-6">
                <input type="text" class="form-control" id="nContrato" readonly
                        {% if orden.Contrato %}
                            value="{{ orden.Contrato }}"
                        {% else %}
                            value=""
                        {% endif %} >
            </div>
            <div class="d-none">
                {{ form_widget(form.Contrato,{ 'attr': {'class':'form-control','readonly':'readonly'}}) }}
            </div>
            <div class="col-2">
                {{ include('modals/buscarContrato.html.twig',{'controlName':'orden_s_a_n'}) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Nro. de Orden</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.codigo,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Fecha</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.fecha,{'attr':{}}) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Tipo</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.tipo,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Estado</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.estado,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Técnico</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.tecnico,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Fecha de Cierre</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.fechaEjecucion) }}
            </div>
        </div>
        <div class="form-group row justify-content-end">
            <label for="" class="col-form-label col-4">
                <span class="float-right">Observaciones</span>
            </label>
            <div class="col-8">
                {{ form_widget(form.observaciones,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        {% if button_label == 'Actualizar'%}
            <div class="form-group row justify-content-end">
                <label for="" class="col-form-label col-4">
                    <span class="float-right">Motivo de Edición</span>
                </label>
                <div class="col-8">
                    <textarea name="motivo" class="form-control" required></textarea>
                </div>
            </div>
        {% endif %}
        <div class="form-group row">
            <div class="col d-flex justify-content-end">
                <button class="btn btn-success btn-block">{{ button_label|default('Guardar') }}</button>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
</div>