{% extends 'base.html.twig' %}

{% block title %}Orden index{% endblock %}

{% block body %}
    <h1>Orden index</h1>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tecnico</th>
                <th>Tipo</th>
                <th>SAN</th>
                <th>FSO</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orden in ordens %}
            <tr>
                <td>{{ orden.id }}</td>
                <td>
                    {% if orden.tecnico %}
                        {{ orden.tecnico.nombres }}
                    {% endif %}
                </td>
                <td>{{ orden.tipo.nombre }}</td>
                <td>
                    {% if orden.san %}
                        {{ orden.san.numero }}
                    {% endif %}
                </td>
                <td>{{ orden.codigo }}</td>
                <td>{{ orden.fecha ? orden.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ orden.estado.nombre }}</td>
                <td>
                    <a href="{{ path('orden_show', {'id': orden.id}) }}">show</a>
                    <a href="{{ path('orden_edit', {'id': orden.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orden_new') }}">Create new</a>
{% endblock %}
