{% extends 'base.html.twig' %}

{% block title %}Orden index{% endblock %}

{% block body %}
    <h3 class="mb-3">Listado de órdenes</h3>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tecnico</th>
                <th>Tipo</th>
                <th>Contrato</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orden in ordens %}
            <tr>
                <td>{{ orden.id }}</td>
                <td>
                    {% if orden.tecnico %}
                        {{ orden.tecnico.nombres }}
                    {% endif %}
                </td>
                <td>{{ orden.tipo.nombre }}</td>
                <td>
                    {% if orden.Contrato %}
                        {{ orden.Contrato.numero }}
                    {% endif %}
                </td>
                <td>{{ orden.fecha ? orden.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ orden.estado.nombre }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('orden_show', {'id': orden.id}) }}">Mostrar</a>
                    <a class="btn btn-sm btn-info" href="{{ path('orden_edit', {'id': orden.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orden_new') }}">Create new</a>
{% endblock %}
