{% extends 'base.html.twig' %}

{% block title %}Orden{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-header">Nro. de Orden {{ orden.codigo }}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <b>Solicitud:</b> {{ orden.id }}
                        </div>
                        <div class="col">
                            <b>Contrato:</b> {{ orden.Contrato }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>Tipo:</b> {{ orden.tipo }}
                        </div>
                        <div class="col">
                            <b>Estado:</b> {{ orden.estado }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>Fecha:</b> {{ orden.fecha | date('Y-m-d') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>Técnico asignado:</b> {{ orden.tecnico }}
                        </div>
                    </div>

                    <div class="container-fluid mt-3">
                        <h3 class="text-primary">Eventos</h3>
                        <table class="table table-bordered table-responsive">
                            <thead>
                            <tr class="bg-primary text-light">
                                <th>Id</th>
                                <th>Motivo</th>
                                <th>Acciones</th>
                                <th>Usuario</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for evento in orden.eventos %}
                                <tr>
                                    <td>{{ evento.id }}</td>
                                    <td>{{ evento.observaciones }}</td>
                                    <td>{{ evento.acciones }}</td>
                                    <td>{{ evento.usuario.email }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row m-3">
                        <div class="col">
                            <a class="btn btn-primary m-3" href="{{ path('orden_index') }}">Regresar</a>
                            <a class="btn btn-info m-3" href="{{ path('orden_edit', {'id': orden.id}) }}">Editar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
