{% extends 'base.html.twig' %}

{% block title %}Secuencial index{% endblock %}

{% block body %}
    <h1>Secuencial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comprobante</th>
                <th>Punto Emision</th>
                <th>Inicio</th>
                <th>Actual</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secuencial in secuencials %}
            <tr>
                <td>{{ secuencial.id }}</td>
                <td>{{ secuencial.tipoComprobante }}</td>
                <td>{{ secuencial.puntoEmision }}</td>
                <td>{{ secuencial.inicio }}</td>
                <td>{{ secuencial.actual }}</td>
                <td>{{ secuencial.descripcion }}</td>
                <td>
                    <a href="{{ path('app_secuencial_show', {'id': secuencial.id}) }}">show</a>
                    <a href="{{ path('app_secuencial_edit', {'id': secuencial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_secuencial_new') }}">Create new</a>
{% endblock %}
