{% extends 'base.html.twig' %}

{% block title %}Secuencial{% endblock %}

{% block body %}
    <h1>Secuencial</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secuencial.id }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{{ secuencial.inicio }}</td>
            </tr>
            <tr>
                <th>Actual</th>
                <td>{{ secuencial.actual }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ secuencial.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_secuencial_index') }}">back to list</a>

    <a href="{{ path('app_secuencial_edit', {'id': secuencial.id}) }}">edit</a>

    {{ include('secuencial/_delete_form.html.twig') }}
{% endblock %}
